@model IsmasPrototype.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameBg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameBg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleNameBg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleNameBg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameBg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameBg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenshipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenshipCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCardIssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCardIssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCardIssuedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCardIssuedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportIssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportIssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalIdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalIdNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneCountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneCountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentVillage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentVillage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentStreetNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentStreetNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentBlock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentBlock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentEntrance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentEntrance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentApartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentApartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentVillage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentVillage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStreetNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStreetNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBlock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentBlock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentEntrance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentEntrance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentApartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentApartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneCountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneCountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPreviousEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPreviousEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousUniversityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousUniversityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousMajor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousMajor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousEducationPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousEducationPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousDegreeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousDegreeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAppliedForVisaBefore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAppliedForVisaBefore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousJ1VisaCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousJ1VisaCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousVisaNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousVisaNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Office)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
